<form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <legend>Reactive Sign up Forms and Validation</legend>


    <div class="alert alert-danger" *ngIf="fg.errors?.isServerDown">
        Server is Down, Try after some time
    </div>
    <div class="form-group">
        <label for="userName">UserName</label>
        <input formControlName="userName" id="userName" type="text" class="form-control">
        <app-error [fromGroup]="fg" controlName="userName" alias="User Name">
            <div *ngIf="userName.errors?.shouldBeUnique">User Name already taken !</div>
        </app-error>
        <div *ngIf="fg.pending"> Uniqueness verification is in Progress..</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" id="password" type="password" class="form-control">
        <app-error [fromGroup]="fg" controlName="password" alias="Password">
            <div *ngIf="password.errors?.containWhiteSpace">Password should not contail empty space</div>
        </app-error>
    </div>
    <div formGroupName="address">
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" formControlName="city" placeholder="city">
            <app-error [fromGroup]="fg" controlName="address.city" alias="City"></app-error>
        </div>
        
        <app-form-group [fGroup]="fg" controlName="address.city" alias="City"></app-form-group>

        <div class="form-group">
            <label for="city">Postal code</label>
            <input type="text" class="form-control" formControlName="postalCode" placeholder="postal code">
            <app-error [fromGroup]="fg" controlName="address.postalCode" alias="Postal Code"></app-error>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="fg.invalid">Sign Up</button>
</form>
<div class="checkbox">
    <label>
        <input type="checkbox" name="" [(ngModel)]="isServerDown"> Server Down
    </label>
</div>