<div class="form-group">
  <div class="parent-layout">
    <div>
      <span class="column-head"></span>
      <span *ngFor="let floor of columnSize; index as i" class="column-head">
        <label>{{i+1}}</label>
      </span>
    </div>
    <div *ngFor="let floor of bluePrint">
      <span>
        <label class="seat-row">{{floor.auditoriumRows.rowName}}</label>
        <span class="seat" *ngFor="let seat of floor.seatInfos">
          <app-seat [seatInfo]="seat"></app-seat>
        </span>
      </span>
    </div>
  </div>
</div>