.parent-layout {
    width: 1000px;
    height: 750px;
    overflow: auto;
    background-color: lightcyan;
    border: 2px black solid;
}

/* Master width */
.column-head, .seat-row, .seat, .column-head>label {
    width: 25px;
}

.column-head, .seat-row, .seat {
    padding: 5px;
    display: inline-flex;
}

.block {
    padding: 10px;
}

.stage {
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    width: 50%;
    position: relative;
    left: 25%;
}

.empty-row {
    display: inline-block;
    padding: 10px;
}