<div class="form-group">
  <div class="parent-layout">

    <div class="stage">
      <label style="display: block;">Available seats : {{availableSeats}} </label>
      <label style="display: block;">Selected Seats : {{selected}} </label>
    </div>
    <!-- <div>
      <span class="column-head"></span>
      <span *ngFor="let floor of columnSize; index as i" class="column-head">
        <label>{{i+1}}</label>
      </span>
    </div> -->
    <div *ngFor="let row of bluePrint">
      <span>
        <span class="empty-row" *ngIf="!row.active">
        </span>
        <span *ngIf="row.active">
          <label class="seat-row">{{row.auditoriumRows.rowName}}</label>
          <span *ngFor="let seat of row.seatInfos; index as i">
            <span class="block" *ngIf="i > 0 && row.seatInfos[i-1].blockName != seat.blockName"></span>
            <span class="seat">
              <app-seat
                [disabled]="reservationCount==selected.length || (reservationCount-selected.length) &gt; availableSeats"
                [seatInfo]="seat" (seatInfoChange)="onChange($event)"></app-seat>
            </span>
          </span>
        </span>
      </span>
    </div>
  </div>
</div>