<app-content>
  <ng-container class="header">
    Safe Traversal Using ?.
  </ng-container>
  <ng-container class="body">
    
    <div class="form-group">
      <label for="textareaSafeTraversal" class="col-sm-2 control-label">SafeTraversal:</label>
      <div class="col-sm-10">
        <input name="" id="textareaSafeTraversal" class="form-control" required="required" disabled
          [value]="complexObj.name?.firstName+' '+ complexObj.name?.firstName"/>
      </div>
    </div>
    <div class="form-group">
      <label for="textareaSafeTraversalAge" class="col-sm-2 control-label">age:</label>
      <div class="col-sm-10">
        <input name="" id="textareaSafeTraversalAge" class="form-control" required="required" disabled
          [value]="complexObj.age"/>
      </div>
    </div>
  </ng-container>
</app-content>