<div class="container-fluid">

  <div class="page-header">
    <h1>Angular !!!
      <small>Play ground</small>
    </h1>
  </div>
  <div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-item" [class.active]="selection == 1">
          <a class="nav-link" href="#" (click)="selection=1">Bindings</a>
        </li>
        <li class="nav-item" [class.active]="selection == 2">
          <a class="nav-link" href="#" (click)="selection=2">Pipes</a>
        </li>
        <li class="nav-item" [class.active]="selection == 3">
          <a class="nav-link" href="#" (click)="selection=3">Reusable Components</a>
        </li>
        <li class="nav-item" [class.active]="selection == 4">
          <a class="nav-link" href="#" (click)="selection=4">Directives</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" [class.hidden]="selection != 1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Property Binding(value, class and style)</h3>
        </div>
        <div class="panel-collapse">
          <div class="panel-body">
            <div class="form-group">
              <label for="input_two_way_binding" class="col-sm-2 control-label">TwoWaybinding:</label>
              <div class="col-sm-10">
                <input type="email" name="" id="input_two_way_binding" class="form-control" [(ngModel)]="emailId" required="required" title="">
              </div>
              <div class="col-sm-3"></div>
              <span class="label label-info">{{emailId}}</span>

            </div>

          </div>
          <div class="panel-footer">
            <!-- one way property binding -->
            <button type="button" class="btn btn-sm" [textContent]="buttonStr"></button>
            <!-- class binding class.<<Style class name>> -->
            <button type="button" class="btn btn-sm" [class.btn-primary]="primaryBtn">Class Biniding</button>
            <!-- class binding Style binding (DOM css property) -->
            <button type="button" class="btn btn-sm" [style.backgroundColor]="primaryBtn?'green':'blue'">Style Biniding</button>
          </div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Event Binding</h3>
        </div>
        <div class="panel-collapse">
          <div class="panel-body">
            <div class="form-group">
              <label for="input_EventBinding" class="col-sm-2 control-label">keyUPEvent:</label>
              <div class="col-sm-10">
                <input type="text" name="" id="input_EventBinding" class="form-control" value="" required="required" (keyup)="keyPressed($event)">
              </div>
              <label for="input_EventFilering" class="col-sm-2 control-label">keyFilterEvent:</label>
              <div class="col-sm-10">
                <input type="text" name="" id="input_EventFilering" class="form-control" value="" required="required" (keyup.enter)="enterKeyPressed()">
              </div>
              <label for="event_status" class="col-sm-2 control-label">EventStatus</label>
              <div class="col-sm-10">
                <input type="tel" name="" id="event_status" class="form-control" [value]="eventStatus" required="required" disabled="disabled">
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-sm " (click)="btnClicked()">Trigger Event</button>
          </div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" data-toggle="collapse" href="#collapse1">Template Variable Binding</h3>
        </div>
        <!-- Template bindig referes to an dom object helpful to simplify the code-->
        <div class="panel-collapse">
          <div class="panel-body">
            <div class="form-group">
              <label for="Template_binding" class="col-sm-2 control-label">keyUPEvent:</label>
              <div class="col-sm-10">
                <input type="text" name="" #inputVal id="input_TempBinding" class="form-control" value="" required="required" (keyup.enter)="templateVariable(inputVal.value)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" [class.hidden]="selection != 2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Sample built in pipes</h3>
        </div>
        <div class="panel-body">
          <span class="label label-default col-md-2">UpperCasePipe</span>
          <span class="label label-success col-md-10">{{pipesObject.stringValue | uppercase }}</span>
          <span class="label label-default col-md-2">LowerCasePipeChained</span>
          <span class="label label-success col-md-10">{{pipesObject.stringValue | uppercase | lowercase }}</span>
          <span class="label label-default col-md-2">TitleCasePipe</span>
          <span class="label label-success col-md-10">{{pipesObject.stringValue | titlecase }}</span>
          <span class="label label-default col-md-2">NumberPipe</span>
          <span class="label label-success col-md-10">{{pipesObject.numberValue|number}}</span>
          <span class="label label-default col-md-2">DecimalPipe</span>
          <span class="label label-success col-md-10">{{pipesObject.decimalVal|number:'3.10-10'}}</span>
          <span class="label label-default col-md-2">CurrencyPipe</span>
          <span class="label label-success col-md-10">{{pipesObject.decimalVal|currency:'EUR':true}}</span>
          <span class="label label-default col-md-2">DatePipe</span>
          <span class="label label-success col-md-10">{{pipesObject.date|date:'shortDate'}}</span>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Custom Pipes</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="input_string" class="col-sm-2 control-label">StringInput:</label>
            <div class="col-sm-10">
              <input type="text" name="" id="input_string" class="form-control" [(ngModel)]="pipesObject.stringValue" required="required"
                pattern="" title="">
            </div>
            <label for="input_subStringLimit" class="col-sm-2 control-label">SubStringLimit:</label>
            <div class="col-sm-10">
              <input type="text" name="" id="input_subStringLimit" class="form-control" [(ngModel)]="pipesObject.stringLimit" required="required"
                pattern="" title="">
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="label label-default">output:</span>
          <span class="label label-success">{{pipesObject.stringValue | custom:pipesObject.stringLimit}}</span>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" [class.hidden]="selection != 3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Favorite Component container</h3>
        </div>
        <div class="panel-body">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="reusableComponent.isFavorite"> IsFavorite inParent
            </label>
          </div>
          <app-favorite [isFavorite]="reusableComponent.isFavorite" (change)="isFavoriteChanged($event)"></app-favorite>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Like Coponent Container</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="input_likeCount" class="col-sm-2 control-label">LikeCount:</label>
            <div class="col-sm-10">
              <input type="text" name="" id="input_likeCount" class="form-control" [(ngModel)]="likeComponent.likeCount" required="required"
                pattern="" title="">
            </div>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="likeComponent.isLiked"> Is Liked
            </label>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Like Component</h3>
            </div>
            <div class="panel-body">
              <app-like [likeCount]="likeComponent.likeCount" [isLiked]="likeComponent.isLiked" (like)="likeBtnCliked($event)"></app-like>
            </div>
          </div>
        </div>
      </div>
      <app-content>
        <div class="header">ng-content</div>
        <div class="body">ng-content with css selcctor</div>
      </app-content>
      <app-content>
        <ng-container class="header">ng-content wiht ng-container</ng-container>
        <ng-container class="body">ng-content + ng-container with css selcctor</ng-container>
      </app-content>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" [class.hidden]="selection != 4">
      <app-interation></app-interation>
      <app-show-or-hide></app-show-or-hide>
      <app-swich-options></app-swich-options>
      <app-style-and-class></app-style-and-class>
    </div>
  </div>
</div>