<form #form="ngForm">
  <legend>User servcie</legend>

  <div class="form-group">
    <label for="">Post title :</label>
    <input type="text" class="form-control" id="" placeholder="Input field" (keyup.enter)="addPost(input)" #input>
  </div>

  <ul class="list-group">
    <li *ngFor="let user of users" class="list-group-item">
      <a [routerLink]="[user.id]" [queryParams]="{'userID':user.id}">
        {{user.name}}
      </a>
    </li>
  </ul>

  <app-content id="container11">
    <ng-container class="header">container 1</ng-container>
    <ng-container class="body">
      <app-content>
        ...
      </app-content>
      <app-content>
        ...
      </app-content>
      <app-content>
        ...
      </app-content>
    </ng-container>
  </app-content>
  <app-content id="container12">
    <ng-container class="header">container 2</ng-container>
    <ng-container class="body">ng-content + ng-container with css selcctor</ng-container>
  </app-content>
  <app-content id="container13">
    <ng-container class="header">container 3</ng-container>
    <ng-container class="body">Sample About us to foucs</ng-container>
  </app-content>
  <app-content id="container1">
    <ng-container class="header">container 1</ng-container>
    <ng-container class="body">
      <app-content>
        ...
      </app-content>
      <app-content>
        ...
      </app-content>
      <app-content>
        ...
      </app-content>
    </ng-container>
  </app-content>
  <app-content id="container2">
    <ng-container class="header">container 2</ng-container>
    <ng-container class="body">ng-content + ng-container with css selcctor</ng-container>
  </app-content>
  <div #about>
    <app-content id="about">
      <ng-container class="header">About us</ng-container>
      <ng-container class="body">Sample About us to foucs</ng-container>
    </app-content>
  </div>
</form>