.fa.icon-seat {
    background-image: url("/assets/images/seat-selected.svg");
    width: 20px;
    height: 20px;
}

.fa.icon-seat.seat-empty {
    background-image: url("/assets/images/seat-available.svg");
    color: black;
}

.fa.seat-blocked {
    opacity: 0.5;
}