.icon-seat {
    background-image: url("/assets/images/seat-available.svg");
    width: 20px;
    height: 20px;
}
.fa.icon-seat.seat-empty {
    background-image: url("/assets/images/seat.svg");
    color: black;
}

.fa.icon-seat {
    color: greenyellow;
    opacity: 0.5;
}