<form [formGroup]="fg">
    <legend>Search Comp overlay</legend>
    <div class="form-group">
        <label for="userName">Github Search </label>
        <input type="text" class="form-control" autocomplete="off" id="userName" formControlName="userName" placeholder="Input field">
    </div>
    <div #searchToggle>
        <legend>Search Comp static</legend>
        <div class="form-group">
            <label for="input">Search </label>
            <input type="text" class="form-control" id="input" formControlName="input" placeholder="Input field" (keyup)="onKeypress()">
        </div>
        <div *ngFor="let car of cars">
            <app-card-component [car]="car"></app-card-component>
        </div>
    </div>
</form>

<app-github-search class="panel" [(display)]="display" [query]="userName.value" [class.bottom-panel]="display" (onClose)="resetQuery()">
    <div *ngFor="let user of users">
        <app-github-user [user]="user"></app-github-user>
    </div>
</app-github-search>